/* -------------------- *\
STYLE VARS
This is a Section Title for the Style Sheet
\* -------------------- */



/* -------------------- *\
LARGE TITLE
This is a Section Title for the Style Sheet
\* -------------------- */


// Parent -------------------- \\

// Child ---------- ||

// END || Parent -------------------- \\


// Head Height - This dictates the height of several objects and the padding on the body -------------------- \\
$head: 3.75rem;
// Head Height -------------------- \\

// UI Timer - sets a rate for transitions -------------------- \\
$ui-timer: .3s;
// UI Timer -------------------- \\



//Universal Box Sizing
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/* -------------------- *\
BREAKPOINTS & MEDIA QUERIES
This is a Section Title for the Style Sheet
\* -------------------- */


// Parent -------------------- \\

// Child ---------- ||


// Breakpoints -------------------- \\
$screen-xs:480px;
$screen-sm:600px;
$screen-md:990px;
$screen-lg:1200px;
$screen-xl:1400px;

// Small Screen -------------------- \\
@media (min-width: $screen-sm) {}// Small Screen ---------- ||

// Medium Screen -------------------- \\
@media (min-width: $screen-md) {}// Medium Screen ---------- ||

// Large Screen -------------------- \\
@media (min-width: $screen-lg) {}// Large Screen ---------- ||

// Xtra Large Screen -------------------- \\
@media (min-width: $screen-xl) {}// Xtra Large Screen ---------- ||


// END || BREAKPOINTS & MEDIA QUERIES -------------------- \\




/* -------------------- *\
COLOR PALETTE
This is a Section Title for the Style Sheet
\* -------------------- */

// Colors! -------------------- \\
$black: 		#000;				//Black
$white: 		#FFF;		//White

$gold:  		#D4BD6C;    //Gold

$greydkbg:	#191919;		//Dark Grey Background
$greydkr:  	#202020;    //Grey Darker
$greydk:  	#2D3131;    //Grey Dark
$grey:  		#575757;    //Grey
$greymd:  	#ABB7B7;    //Grey Medium
$greylt:  	#E7ECF1;    //Grey Light


// Gradient Colors! -------------------- \\
$graident-one:       #cc208e;    // Graident Color One
$graident-two:       #6713d2;    // Graident Color Two

// Default Paragraph Color! -------------------- \\
$text:	#434343;    //Text is not Black
$copy:	#434343;	// Default Text Color ---------- ||

// Link Colors! -------------------- \\
$link:        $gold;
$link-hover:  $grey;




/* --------- *\
  CLEARFIX
\* --------- */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// @extend .clearfix;


/* --------- *\
	VERTICALLY ALIGN ANYTHING
\* --------- */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// @include vertical-align();


/* --------- *\
	CSS3 TRANSITIONS
\* --------- */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// @include transition(all $ui-timer);


/* --------- *\
	ROTATE
\* --------- */
@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}
// @include rotate(-45deg);


/* --------- *\
	OPACITY
\* --------- */
@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}
// @include Opacity(0);



/* --------- *\
	Font Smoothing
\* --------- */
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
//@include font-smoothing(on);
