@import "bootstrap";
@import "vars";

body {
  @include font-smoothing(on);
	background-color:#39243F;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}//body


.card {
	//@include vertical-align();
	background-color:rgba(0,0,0,.25);
	color:#ecf0f1;
	// left:5%;
	// width:90%;
}//clock

.clock-display {
	//grid stuffs
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
  grid-gap:0 .5rem;

  .time-greet {	// grid stuff
		color:#95a5a6;
		font-weight:700;
		grid-column:1;
		grid-row:2;
		margin:0;
		padding:0;
	}//clock-main

	.clock-main {	// grid stuff
		font-weight:900;
		grid-column:2 / span 2;
		grid-row:1 / span 3;
		margin:0;
		padding:0;
		text-align:right;
	}//clock-main

	.time-sec {	// grid stuff
    color:#95a5a6;
    font-size:2.4rem;
		font-weight:900;
		grid-column:4;
		grid-row:1 / span 2;
		margin:0;
		padding:0;
		position:relative;
		text-align:left;

		span {
      border-bottom:1px solid #95a5a6;
      display:block;
			position:absolute;
			left:0;
			bottom:.25rem;
      width:100%;
			z-index:1;
		}//span
	}//clock-main

	.time-ampm {	// grid stuff
		color:#95a5a6;
		// font-weight:900;
		grid-column:4;
		grid-row:3;
		margin:0;
		padding:0;
		text-align:left;
	}//clock-main
}//display


.time-greet {
	color:#ecf0f1;
}//time-greet

.date-day-name {
	color:#ecf0f1;
}//date-day-name

.date-day-month {
	color:#ecf0f1;
}//date-day-month

.date-year {
	color:#ecf0f1;
}//date-year





// Calendar --------- \\
